node_modules/
dist/
tmp/
.nx/
coverage/
*.log

# env
.env
.env.local
*.local.env

# editors
.idea/
.vscode/*
!.vscode/extensions.json
.DS_Store

# mobile / native
apps/mobile/.expo/
apps/mobile/android/
apps/mobile/ios/

# angular
apps/web/.angular/

# prisma
apps/api/prisma/*.db
